h1 {
	font-family: 'Lato', sans-serif;
	color:#3D9970;
}

.row {
	margin: 10px 0;
	font-family: 'Titillium Web', sans-serif;
}

.row > a {
	font-size: 23px;
	text-decoration: none;
}

.important {
	color: #3D9970;
	font-weight: 600;
}

h3,p {
	line-height: 45px;
}

image {
	height: 100px;
	width: 100px;
}

